.container {
  width: 90%;
  padding: 3rem;
}

#message-container {
  height: 70vh;
  background-color: #ddd;
  overflow: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1rem;
}

.message-box {
  width: 30%;
  border-radius: 15px;
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.user-message {
  background-color: salmon;
}

.partner-message {
  background-color: lightsalmon;
  margin-left: auto;
}
